.people__subtitle {
  text-transform: uppercase;
  margin: 0 auto 28px 70px;
  color: #fecda7;
  font-size: 12px;
}


@media screen and (max-width: 1024px) {
  .people__subtitle {
    margin-left: 35px;
  }
}


@media screen and (max-width: 425px) {
  .people__subtitle {
    margin-left: 25px;
  }
}
