.header {
  margin: 0;
  padding: 0;
  padding-left: 69px;
  padding-right: 50px;
  padding-top: 48px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-left: 35px;
    padding-right: 35px;
  }
}


@media screen and (max-width: 620px) {
  .header {
    padding-left: 16px;
  }
}
