.place__text {
  width: 100%;
  max-width: 381px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .place__text {
    max-width: 500px;
  }
}

@media screen and (max-width: 425px) {
  .place__text {
    gap: 20px;
  }
}

