.intro {
  margin: 0;
  padding: 0;
  margin-top: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 140px;
}


@media screen and (max-width: 820px) {
  .intro {
    flex-direction: column;
    padding-right: 70px;
  }
}


@media screen and (max-width: 620px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}
