.root {
<<<<<<< HEAD
  font-family: 'Open-sans', sans-serif;
=======
  font-family: 'Open Sans', arial, sans-serif;
>>>>>>> a00bd29c6245dac0477d1c96c21796a872e7bf3b
  color: #010101;
  background-color: #fff;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
