.place {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
}

.place:nth-child(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .place {
    flex-direction: column;
  }

  .place:nth-child(even) {
    flex-direction: column;
  }
}
